<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="”robots”" content="”noindex”" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="izbornik">
				<div class="izbornik_antonio">
					<div class="izbornik_unutarnji_antonio">Antonio Čutura</div>
				</div>
				<a href="/">
					<div class="izbornik_flex">
						<div class="izbornik_unutarnji">Početna</div>
					</div>
				</a>
				<a href="#kontakt">
					<div class="izbornik_flex">
						<div class="izbornik_unutarnji">Kontakt</div>
					</div>
				</a>
			</div>
		</header>
		<main>
			<div class="main_div">
				<div class="prvi_div">
					<div class="moji_projekti">Moji projekti &darr;</div>
				</div>
				<div class="portfolio_kartice">
					<div class="kartica">
						<img
							src="./images/bodyfit.JPG"
							alt="HealthApp"
							class="kartica_slika" />
						<div class="kartica_naslov"><b>BodyFit aplikacija</b></div>
						<div class="kartica_tekst">
							<b>Opis:</b> Java Spring Boot web aplikacija koja stvara procjenu
							tjelesne kompozicije i zdravlja na temelju unesenih fizičkih
							mjera. Korisnicima prikazuje rezultate, a prijavljenim
							korisnicima generira individualnu preporuke na temelju rezultata,
							te prikazuje trenutno vrijeme i preporuku ako je idealno za
							trening na otvorenom. Aplikacija je povezana sa bazom podataka za
							registraciju i prijavu korisnika, koristi vrlo jednostavan Weather
							API i radi unutar Docker container-a zajedno sa MySQL - om.
							Frontend je temeljen na Thymeleaf server-side rendering
							template-u.
						</div>
						<div class="pogledaj">
							<a href="https://bodyfit.cutura.cc" target="_blank">
								<div class="pogledaj_link1">Pogledaj stranicu</div>
							</a>
							<a
								href="https://github.com/Antonioc-98/health-app/tree/master"
								target="_blank">
								<div class="pogledaj_link2">Pogledaj kod projekta</div>
							</a>
						</div>
					</div>

					<div class="kartica">
						<img
							src="./images/Pretrazivac_zemljisnih_knjiga.JPG"
							alt="Katastar pretraživanje"
							class="kartica_slika" />
						<div class="kartica_naslov">
							<b>Pretraživač zemljišnih knjiga</b>
						</div>
						<div class="kartica_tekst">
							<b>Opis:</b> Glavna funkcija ove aplikacije jest mogućnost
							pretraživanja katastra prema imenu fizičke ili pravne osobe, a što
							nije moguće putem stranice državnog online katastra
							(https://oss.uredjenazemlja.hr/), jer se tamo mogu pretraživati
							samo zemljišnonjižne čestice, pojedinačno. Ako je osoba koja se
							traži pronađena u katastarskom zapisu, pretraživač vraća
							informacije o zemljišnoknjižnom uredu i ZK uložku čestice koju
							osoba posjeduje, a pomoću njih se dalje može pronaći više
							informacija o toj čestici/česticama na stranici online katastra.
						</div>
						<div class="pogledaj">
							<a href="new">
								<div class="pogledaj_link1">Pogledaj stranicu</div>
							</a>
							<a href="new#kod_projekta">
								<div class="pogledaj_link2">Pogledaj kod projekta</div>
							</a>
						</div>
					</div>

					<div class="kartica">
						<img
							src="./images/booking.JPG"
							alt="Booking"
							class="kartica_slika" />
						<div class="kartica_naslov"><b>Booking Kamp Adriatic</b></div>
						<div class="kartica_tekst">
							<b>Opis:</b> Web aplikacija je napravljena u sklopu stručne
							prakse. U projektu se koristi HTML, CSS, Javascript, Node.js i
							MySql baza podataka. Glavne značajke su sustav rezervacije i
							sustav registracije i prijave korisnika koji rade na temelju
							spremanja i dohvaćanja podataka iz MySql baze podataka, enkripcija
							lozinki korisnika prije spremanja u bazu podataka, admin račun
							unutar aplikacije koji ima mogućnost mijenjanja cijena i
							rezervacija, responsive mobile friendly dizajn kroz korištenje
							flexbox layout-a i grid layout-a.
						</div>
						<div class="pogledaj">
							<a href="https://cutura.cc" target="_blank">
								<div class="pogledaj_link1">Pogledaj stranicu</div>
							</a>
							<a
								href="https://github.com/Antonioc-98/booking_projekt"
								target="_blank">
								<div class="pogledaj_link2">Pogledaj kod projekta</div>
							</a>
						</div>
					</div>

					<div class="kartica">
						<img
							src="./images/projekt_1.JPG"
							alt="Rent&Go"
							class="kartica_slika" />
						<div class="kartica_naslov"><b>Rent&Go</b></div>
						<div class="kartica_tekst">
							<b>Opis:</b> Aplikacija je napravljena kao projektni zadatak u
							sklopu kolegija u svrhu spajanja HTML-a, CSS-a i Javascripta, uz
							korištenje Tailwind frameworka. Glavne značajke su responsive
							mobile friendly dizajn kroz korištenje flexbox layout-a, mobilnog
							navigacijskog izbornika i grid layout-a, te jednostavni sustav
							rezervacije koji radi na temelju spremanja podataka u lokalnu
							pohranu web preglednika kroz konverziju podataka u JSON format.
						</div>
						<div class="pogledaj">
							<a
								href="https://antonioc-98.github.io/rentandgo/"
								target="_blank">
								<div class="pogledaj_link1">Pogledaj stranicu</div>
							</a>
							<a
								href="https://github.com/Antonioc-98/rentandgo/tree/main"
								target="_blank">
								<div class="pogledaj_link2">Pogledaj kod projekta</div>
							</a>
						</div>
					</div>
				</div>
				<div id="kontakt">Email: acutura@student.unipu.hr</div>
			</div>
		</main>
	</body>
</html>
